/* typography.css */

.display {
    font-family: var(--font-primary);
}

.text-extrabold {
    font-weight: var(--fw-extrabold);
}

.text-semibold {
    font-weight: var(--fw-semibold);
}

.fs-h1 {
    font-size: var(--fs-h1);
}

.fs-h2 {
    font-size: var(--fs-h2);
}

.fs-title {
    font-size: var(--fs-title);
}

.body {
    font-size: var(--fs-body);
}

.body-sm {
    font-size: var(--fs-body-sm);
}

.small {
    font-size: var(--fs-small);
}